
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="stylesheet/application.css" rel="stylesheet" />
    <title>My GachiAkuta page</title>
  </head>
  <body>
  <h1>GachiAkuta</h1>
  <h4>A manga with a <strong>Strong Personality</strong></h4>
    <%= image_tag("Umbreaker.png", :alt => "GachiAkuta's manga image", :width => "500", :height => "300") %>
    <p>
    In this image, Rudo, our protagonist, is saved by Enjin, 
    a mysterious habitant of The Pit. He will teach Rudo all about 
    those deep's world. 
    Some of the concepts he will need to learn are:
    </p>
    <ul>
    <li>The Cleaners</li>
    <li>Givers</li>
    <li>Jinky</li>
    <li>The Pit and The Heaven</li>
    </ul>
    <p>
    Are Rudo ready for this world?
    </p>

    <a href="https://mangadex.org/title/192aa767-2479-42c1-9780-8d65a2efd36a/gachiakuta">MangaDex, the best site to read</a>

  </body>
</html>
